.contianer{
    width: 100%;
}

.cartDetails{
    width: 100%;
    margin: 0;
    padding: 0;
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridItem{
    text-align: center;
}

.detailHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}